
.carousel {
  @apply grid grid-cols-4 gap-8 mt-32;
}

.item {
  @apply rounded-3xl bg-light-gray p-5 pt-0 mb-8 relative;
  .image {
    @apply -mt-[4.5rem];
  }

  .heading {
    @apply text-xl text-beige leading-7 font-bold;

    > div {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .description {
    @apply text-sm mt-5 text-beige opacity-90 leading-9;
  }

  > div {
    @apply relative;
  }

  .variations {
    @apply grid grid-cols-4 gap-2.5 mt-6;

    > button {
      @apply border border-solid border-white transition-colors text-[0.6rem] font-semibold uppercase py-0.5
      px-0.5 text-center bg-transparent text-white rounded;

      &.active {
        @apply text-dark-green bg-white
      }
    }
  }

  .previous-button {
    @apply absolute mt-8;
  }

  .next-button {
    @apply absolute mt-8 ml-[210px] ;
  }

  &.active {
    @apply bg-green shadow-2xl shadow-green bg-contain bg-no-repeat;
    transform: scale(1.15);
    background-image: url("/images/bg-pattern.jpg");
    background-position: center -5px;

    &::before {
      @apply w-full h-full absolute top-0 left-0 rounded-3xl;
      content: '';
      background-image: linear-gradient(180deg, rgba(108, 148, 107, 0.5) 29%, rgb(70, 152, 61) 40%);
    }

    .heading {
      @apply text-white text-3xl;
    }
  }
}
