.card {
  @apply p-10 relative my-8 bg-light-gray grid grid-cols-3 gap-5;
  border-radius: 2rem;

  .information {
    > h2 {
      @apply text-3xl text-dark-beige font-bold leading-tight mb-5;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    > div > {
      @apply mb-12;

      p {
        @apply text-beige mb-14;
      }
    }

    > button {
      @apply rounded-2xl bg-white p-2 mr-4 last:mr-0;
    }
  }

  .image {
    @apply text-center;
    .main {
      @apply bg-white rounded-full mx-auto overflow-hidden w-[18.4rem] h-[18.4rem] flex items-center justify-center;
      box-shadow: 0 5px 100px -50px #6c946b;

      img {
        @apply -mt-10;
      }
    }
    .price {
      @apply text-2xl text-dark-beige -mt-[3.75rem] font-bold text-green;
    }
  }

  .variations {
    .rating {
      @apply flex items-center;
      > span {
        @apply text-sm font-bold mr-2;
      }
    }
  }
}
